{% extends "base.html" %}

{% block content %}
  <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
      <h2 class="text-title-md2 font-bold text-black">Example View</h2>
      <nav>
        <ol class="flex items-center gap-2">
          <li>
            <a href="{% url 'dnsmanager:home' %}" class="font-medium text-primary">Dashboard /</a>
          </li>
          <li class="font-medium">Example View</li>
        </ol>
      </nav>
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex flex-wrap justify-end">
        <a href="#"
           class="inline-flex items-center justify-center gap-2.5 rounded-md bg-secondary py-3 px-4 text-center font-medium text-white hover:bg-opacity-90 lg:px-6 xl:px-8">
          <span class="icon-tree"></span>
          New DNS Record
        </a>
      </div>
      <div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default sm:px-7.5 xl:pb-1">
        <div class="max-w-full overflow-x-auto">
          <h2>Hello, world!</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
